{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="content-section">
          <div class="content-body">
            <div class="post-metadata">
              <a class="mr-2" href="#">{{ post.auctioneer_name }}</a>
              <small class="text-muted"> Opened {{ post.date_posted }}</small>
            </div>
            <h2><a class="post-title" href="#">{{ post.title }}</a></h2>
            <p class="post-item">{{ post.item }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
